.navbar{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}
.navbartxt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    color: #022D4D;
}
.navbarnews{
    position: absolute;
    width: 140px;
    height: 51px;
    right: 620px;
    top: 15px
}
.navbarnewstxt{
    position: absolute;
    width: 119px;
    height: 21px;
    left: 10px;
    top: 10px;
}
.navbarhistory{
    position: absolute;
    width: 140px;
    height: 51px;
    right: 430px;
    top: 15px;
}
.navbarhistorytxt
{
    position: absolute;
    width: 131px;
    height: 21px;
    left: 10px;
    top: 10px;
}
.navbarpastcar
{
    position: absolute;
    width: 140px;
    height: 51px;
    right : 240px;
    top: 15px;
}
.navbarpastcartxt
{
    position: absolute;
    width: 142px;
    height: 21px;
    left: 0px;
    top: 10px;
}
.navbarsponsor
{
    position: absolute;
    width: 140px;
    height: 51px;
    right: 50px;
    top: 15px;
}
.navbarsponsortxt
{
    position: absolute;
    width: 140px;
    height: 21px;
    left: 0px;
    top: 10px;
}
.navbartitle
{
    position: absolute;
    width: 500px;
    height: 70px;
    left: 70px;
    top: 5px;
}
.navbartitletxt1
{
    position: absolute;
    width: 300px;
    height: 21px;
    left: 0px;
    top: 41px;
}
.navbartitletxt2
{
    position: absolute;
    width: 241px;
    height: 31px;
    left: 0px;
    top: 10px;

    font-family: 'arial';
    font-style: "thin";
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #022D4D;
}
.navbarline
{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 20px;
    top: 41px;

    border: 1px solid #D39328;
}

.background
{
    position: absolute;
    width: 100%;
    min-width: 500px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: url("./image/pexels-matheus-bertelli-2467506.jpg");
}
.title
{
    font-family: 'Inter';
    font-style: normal;
    font: weight 400px;;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
}
.text
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.textform
{
    position: absolute;
    max-width: 1654px;
    height: 534px;
}
.textform1
{
    left: 150px;
    top: 1180px;
}
.textform2
{
    left: 100px;
    top: 1914px;
}
.textformtitleleft
{
    position: absolute;
    width: 581px;
    height: 37px;
    left: 0px;
    top: 114px;
    color: #022D4D;
}
.textformtitleright
{
    position: absolute;
    width: 171px;
    height: 34px;
    left: 1150px;
    top: 20px;
    color: #022D4D;
}
.decorteline
{
    position: absolute;
    width: 50px;
    height: 0px;

    border: 3px solid #D39328;
    transform: rotate(90deg);
}
.decortelineright
{
    left: -30px;
    top: 108px;
}
.decortelineleft
{
    left:1070px;
    top: 12px;
}
.textformtextleft
{   
    position: absolute;
    width: 581px;
    height: 208px;
    left: 0px;
    top: 228px;
}
.textformtextright
{   
    position: absolute;
    width: 581px;
    height: 208px;
    left: 1100px;
    top: 132px;
}
.textformpicture1
{
    position: absolute;
    width: 950px;
    height: 534.38px;
    left: 704px;
    top: 0px;

    background-image: url(./image/picture2.jpg);
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.3));
    border-radius: 46px;
}
.textformpicture2
{
    position: absolute;
    width: 950px;
    height: 534px;
    left: 0px;
    top: 0px;

    background: url(pexels-george-sultan-1187675.jpg);
    filter: drop-shadow(-5px 10px 5px rgba(0, 0, 0, 0.3));
    border-radius: 46px;
}
.body2
{
    position: absolute;
    width: 100%;
    height: 756px;
    left: 0px;
    top: 2592px;
}
.body2textform1
{
    position: absolute;
    width: 630px;
    height: 307px;
    left: 150px;
    top: 225px;
}
.body2textformtitle
{
    position: absolute;
    width: 581px;
    height: 37px;
}
.body2textform1title
{
    left: 180px;
    top: 231px;
    color: #FFFFFF
}
.body2textform2title
{
    left: 0px;
    top: 0px;
    color: #FFFFFF
}   
.body2textform1text
{
    position: absolute;
    width: 600px;
    height: 207px;
    left: 180px;
    top: 325px;
    color: #FFFFFF;
}
.body2textform2text
{   
    position: absolute;
    width: 341px;
    height: 245px;
    left: 1445px;
    top: 310px;
    color: #FFFFFF;
}
.body3textform
{
    position: absolute;
    width: 1014px;
    height: 492px;
    left: 453px;
    top: 194px;
}
.body3title
{
    position: absolute;
    width: 909px;
    height: 72px;
    left: 483px;
    top: 194px;
}
.body3text
{
    position: absolute;
    width: 891px;
    height: 100px;
    left: 483px;
    top: 318px;
}
.circle
{
    width: 200px;
    height: 200px;
    border: 3 solid  #022D4D;
    border-radius: 50%;
}
.circle1
{
    position: absolute;
    left: 453px;
    top: 486px;
}
.circle2
{
    position: absolute;
    left: 961px;
    top: 486px;
}
.percent
{
    
}
.footer
{      
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;  
    bottom: 0px;
    background: #022D4D;
}
.footertxtform
{
    position: absolute;
    width: 1035px;
    height:140px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.footerlogo
{
    position: absolute; 
    left: 0px;
    top: 0px;
}
.footertxt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.footertxt1
{
    position: absolute;
    width: 565px;
    height: 30px;
    left: 450px;
    top: 30px;
    font-size: 30px;
    line-height: 36px;
}
.footertxt2
{
    position: absolute;
    width: 350px;
    height: 34px;
    left: 450px;
    top: 86px;
    font-size: 17px;
    line-height: 21px;
}